<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<RymanGroup_StoreLocator>
			<version>0.0.1</version>
		</RymanGroup_StoreLocator>
	</modules>
    <global>
        <blocks>
            <storelocator>
                <class>RymanGroup_StoreLocator_Block</class>
            </storelocator>
        </blocks>
        <resources>
            <RymanGroup_StoreLocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </RymanGroup_StoreLocator_write>
            <RymanGroup_StoreLocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </RymanGroup_StoreLocator_read>
        </resources>
    </global>
	 <frontend>
        <routers>
            <storelocator>
                <use>standard</use>
                <args>
                    <module>RymanGroup_StoreLocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </storelocator>
        </routers>
        <layout>
    		<updates>
	    		<storelocator>
	    			<file>storelocator.xml</file>
	    		</storelocator>
	    	</updates>
    	</layout>
	</frontend>
</config>